<div class="card pt-5 mx-auto text-center border-light" style="width: 18rem;">
  <img src="assets/beverage.png" alt="Musings & Thoughts logo" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">Musings & Thoughts</h5>
    <p class="card-text">
      'Cause what you say is what you say, sometimes what you mean
      is two different things, depending on your mood if it swings,
      think too many things, little hit of Dre's herbs
      I can do anything, catch a contact
    </p>
    <a href="https://linkedin.com/in/duziem-ugoji/" target="_blank" class="card-link">LinkedIn</a>
    <a href="https://github.com/nwamugo/" target="_blank" class="card-link">GitHub</a>
    <br>
    <hr>
    <button
      type="button"
      class="btn btn-dark"
      (click)="goToArticles()"
    >Read my articles &rarr;</button>
  </div>
</div>